<div class="form-actions">
  <%= link_to({action: :index}, class: 'btn btn-back', title: back_label) do %>
    <i class="icon-arrow-left"></i> <%= back_label %>
  <% end %>

  <button type="submit" class="btn btn-success">
    <i class="icon-check"></i> <%= save_label %>
  </button>

</div>
