<div class="show-actions form-actions">


<%= link_to(t('.back', default: t('system.view.links.back')),
            {action: :index}, class: 'btn btn-back'
) %>
<%= link_to(t('.edit', default: t('system.view.links.edit')),
  [:edit, namespace, record], class: 'btn btn-edit'
) %>
<%= link_to(t('.destroy', default: t('system.view.links.destroy')),
            [namespace, record], class: 'btn btn-danger', method: :delete,
            confirm: t('.confirm_destroy', default: t('system.view.links.confirm_destroy'))
) %>

</div>
